.header-container {
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
}

.header-logo-container {
    background-color: aqua;
    width: 20%;
    aspect-ratio: 1 / 1;
}


.header-logo {
    width: 100%;
    height: 100%;
}

.header-title-container {
    background-color:blueviolet;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-title {
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
}


.header-button-container {
    background-color: blue;

}