/* new */


.product-container {
    background-color: aqua;
    margin: 15px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 250px;
    overflow:hidden;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.product-container:hover {
    box-shadow: 0 0 0 4px;
}

/* PRODUCT IMAGE */

.product-image-container {
    display: flex;
    background-color: blanchedalmond;
    height: 100%;
    width:100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.product-image-container img {
    width: 100%;
    height:100%;
    object-fit: cover;
    transform-origin: center;
    transition: transform 0.3s ease;
    transform: scale(1.0);
}

.product-image-container:hover img {
    transform: scale(1.2);
}

/* PRODUCT NAME */

.product-name-container {
    width:100%;
    height: 15%;
    background-color:chocolate;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-name {
    
}

/* PRODUCT DESCRIPTION */

.product-description-container {
    width:100%;
    height: 25%;
    background-color: cadetblue;
    /* padding: 5px; */

    display: -webkit-box;          /* Ermöglicht Zeilenbegrenzung */
    -webkit-line-clamp: 2;         /* Anzahl der sichtbaren Zeilen */
    -webkit-box-orient: vertical;  /* Vertikale Ausrichtung des Box-Modells */
    overflow: hidden;              /* Verhindert das Überlaufen */
    text-overflow: ellipsis;
    line-clamp: 2;       /* Zeigt Auslassungspunkte an */
}

.product-description {
    background-color:blue;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0;
    font-size: x-small;
    /* height: 100%; */
    
    display: -webkit-box;          /* Ermöglicht Zeilenbegrenzung */
    -webkit-line-clamp: 2;         /* Anzahl der sichtbaren Zeilen */
    line-clamp: 2;
    -webkit-box-orient: vertical;  /* Vertikale Ausrichtung des Box-Modells */
    overflow: hidden;              /* Verhindert das Überlaufen */
    text-overflow: ellipsis;       /* Zeigt Auslassungspunkte an */
}


/* PRODUCT PROPERTIES */

.product-properties-container {
    width:100%;
    height: 10%;
    background-color: brown;
    display: flex;
    font-size: xx-small;
    justify-content: space-around;
    align-items: center;
}

.product-properties {
    
    /* margin: 3px;
    font-size: xx-small;
    display: flex;
    gap: 1rem;
    list-style: none;
    justify-content: space-around;
    width: 100%; */
}


/* PRODUCT PRICE */

.product-price-container {
    width:100%;
    height: 20%;
    background-color: chartreuse;
    display: flex;
    flex-direction: row-reverse;
}

.product-price {
    display: flex;
    background-color: cadetblue;
    align-items: center;

}