.global-container {
display: grid;
grid-template-areas:
  "header"
  "sort"
  "products";
grid-template-rows: 100px 80px 1fr;
height: 100vh;
}
header {
  grid-area: header;
  background-color: darkgoldenrod;
}

sort {
  grid-area: sort;
  background-color: darkcyan;
}

products {
  grid-area: products;
  background-color: darkkhaki;
}
